/* Colors */

$color-1: #181F29;
$color-2: #305CA5;
$color-3: #7489AA;
$color-4: #D7E0EF;
$color-5: #D7E0EF;

$main-background-color: $color-1;


/* Media query breakpoints */

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
