/* Colors */

$color-1: #181F29;
$color-2: #305CA5;
$color-3: #7489AA;
$color-4: #D7E0EF;
$color-5: #D7E0EF;

$main-background-color: $color-1;
$main-text-color: $color-5;


$link-color: $color-2;
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;


/* Media query breakpoints */

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
